html, body {
    margin: 0;
    padding: 0;
}

/* body {
    width: 18rem;
    height: 20rem;
} */

/* Add rounded edges to the popup window */
body {
    border-radius: 20px;
    overflow: hidden;
    background-color: antiquewhite;
}


@font-face {
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4G-EiAou6Y.ttf);
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700
}

@font-face {
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4G-EiAou6Y.ttf);
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400
}

/* Add some basic styling for the navbar */
nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-right: 10px;
    /* width: 300px; */
}

/* Style the icon */
nav .icon {
    width: 64px;
    height: 64px;
}

/* Style the main text */
nav .main-text {
    font-family: "Outfit", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    margin: 0;
    padding-left: 10px;
    color: #000;
    font-size: 24px;
}

/* Style the sub-text */
nav .sub-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    margin: 0;
    padding-left: 10px;
    color: #888;
    font-size: 14px;
}
.container {
    display: flex;
    justify-content: space-between; /* Items will be spaced evenly */
    align-items: center; /* Align items vertically */
    width: calc(100vw - 2rem); /* Match body width of the popup window */
}
/* Style for the search bar */
.search-bar {
    flex: 1; /* This will make the search bar take up remaining space */
    padding: 0.5rem; /* Add padding to the search bar */
}
/* Style for the dropdown */
.dropdown {
    padding: 0.5rem; /* Add padding to the dropdown */
    margin-left: auto; /* Push the dropdown to the right */
}